body {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b; /* Cor de fundo semelhante ao site da Talon */
    font-family: Arial, sans-serif; /* Escolha a fonte desejada */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.centered-text {
    text-align: center;
    color: #fff; /* Cor do texto, escolha a desejada */
}

.centered-text p {
    font-size: 24px; /* Tamanho da fonte, ajuste conforme necessário */
    font-weight: bold; /* Peso da fonte, ajuste conforme necessário */
}