@charset "UTF-8";


@font-face {
    font-family: royalty;
    src: url(Beaufort-Bold.ttf);
}

@font-face {
    font-family: starset;
    src: url(Mark-Pro.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #111315;
    box-sizing: border-box;
    overflow-x: hidden;
}

div#menu{
    background-color: #111111;
    position: absolute;
    width: 100vw;
    height: 80px;
}

header {
    background-image: url(dalight.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3), 10px 0 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    width: 100vw;
    height: 98vh;
}

header h1 {
    position: relative;
    bottom: -600px;
    text-align: center;
    color: #F0E6D2;
    font-family: royalty;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(1,10,19,.7);

}

header h2 {
    position: relative;
    bottom: -600px;
    text-align: center;
    color: #ffd889;
    letter-spacing: 1px;
    line-height: 100%;
    font-family: starset;
    font-size: 18px;
    margin-top: 19px;
}

header > p {
    position: relative;
    font-family: royalty;
    font-size: small;
    color: #ffd889;
    bottom: -730px;
    text-align: center;
}

header img {
    position: relative;
    display: block;
    bottom: -740px;
    color: white;
    margin: auto;
}

div#menu > nav > ul > li{
    display: grid;
    font-family: starset;
    color: #f9f9f9;
}

p {
    font-family: starset;
    color: white;
}

h1, h2 {
    color: #c8aa6e;
    font-family: royalty;
}