@charset "UTF-8";


@font-face {
    font-family: royalty;
    src: url(Beaufort-Bold.ttf);
}

@font-face {
    font-family: starset;
    src: url(Mark-Pro.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header #btn-mobile {
    position: relative;
    width: 40px;
    cursor: pointer;
    top: -80px;
}

header.menu {
    background-image: url(dalight.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
}

.menu-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    
    background-color: #2020208d;
    transition: 0.5s ease-in;
    pointer-events: none;
}

header.menu.active .menu-background {
    width: 30%;
}

header.menu.active div.menu-background p {
    position: relative;
    opacity: 1;
    color: yellow;
    text-align: center;
    top: -170px;
    font-size: 30px;

}

header.menu.active div.menu-background img {
    opacity: 1;
    width: 100%;
    height: 50px;
}

div.menu-background img {
    opacity: 0;
}

div.menu-background p {
    font-family: starset;
    opacity: 0;
}


header h1 {
    position: relative;
    font-family: royalty;
    color: #D5D5D6;
    font-size: 60px;
    text-align: center;
    top: 730px;
    text-shadow: 3;
    text-shadow: 0 0 20px rgba(1,10,19,.7);
}

header h2 {
    position: relative;
    font-family: starset;
    color: #C8AA6E;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    top: 730px;
    text-shadow: 0 0 20px rgba(1,10,19,.7);
}


header {
    background-image: url(dalight.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

#background {
    position: relative;
}

@media (max-width: 768px) {
    div#background {
        background-position: 70%;
    }
}

h1, h2 {
    font-family: royalty;
}

p {
    font-family: starset;
}

