@charset "UTF-8";


@font-face {
    font-family: royalty;
    src: url(Beaufort-Bold.ttf);
}

@font-face {
    font-family: starset;
    src: url(Mark-Pro.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #111315;
    box-sizing: border-box;
    overflow-x: hidden;
}

div#menu{
    background-color: #111111;
    position: absolute;
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid #1d1d1d;
}

div#menu svg {
    position: relative;
    left: 10px;
    top: 25px;  
}

div.container img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    margin-left: 1270px;
    margin-bottom: 30px;
    top: -18px;
    margin-right: 10px;
    cursor: pointer;
}

.image-container {
    display: flex;
    transform: translateX(1300px);
}

.image-container img {
    position: relative;
    top: -18px;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
    
}

div.container img:hover {
    pointer-events: auto;
}




p {
    text-indent: 2px;
    font-family: starset;
    color: white;
}
  
header {
    background-image: url(dalight.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 73.4979% 16.8759%;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3), 10px 0 15px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    width: 100vw;
    height: 98vh;
    
}

header h1 {
    position: relative;
    bottom: -600px;
    text-align: center;
    color: #F0E6D2;
    font-family: royalty;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(1,10,19,.7);

}

header h2 {
    position: relative;
    bottom: -600px;
    text-align: center;
    text-shadow: 0 0 20px rgba(1,10,19,.7);
    color: #ffd889;
    letter-spacing: 1px;
    line-height: 100%;
    font-family: starset;
    font-size: 18px;
    margin-top: 19px;
}

header > p {
    position: relative;
    font-family: royalty;
    font-size: smaller;
    color: #c9c3af;
    text-shadow: 0 0 20px rgba(.05);
    letter-spacing: .05px;
    bottom: -730px;
    text-align: center;
}

header > svg {
    position: relative;
    display: block;
    bottom: -750px;
    color: white;
    margin: auto;
}

div#menu > nav > ul > li{
    display: grid;
    font-family: starset;
    color: #f9f9f9;
}

h1, h2 {
    color: #c8aa6e;
    font-family: royalty;
}

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  .animate {
    animation: moveUpDown 1s ease-in-out infinite;
  }

#flexivel{
    display: flex;
    
}

#flexivel div {
    display: inline-block;
    
}