@media (max-width: 768px) {
    main h1 {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #t {
        margin-top: 10px;
    }

    main #tu {
        font-size: 3rem;
    }

    header {
        background-position: 70%;
    }

    header h1 {
        top: 330px;
    }

    header h2 {
        top: 330px;
    }

    header p {
        top: 370px;
    }

    #tonight {
        top: 370px;
    }

    .xd {
        color: rgb(238, 229, 211);
        line-height: 162%;
        width: 90%;
        font-size: 16px;
        top: 10%;
        left: 5%;
        transform: translate(0, 0);
        text-align: left;
    }

    #habilidades #passiva {
        margin-top: 20px;
        padding-left: 10px;
    }

    #habilidades p {
        text-justify: auto;
    }

    #habilidades #passiva {
        margin-top: 20px;
    }

    #habilidades #flexivel {
        flex-direction: column;
    }

    #habilidades #flexivel > div {
        flex-basis: 100%;
        margin: 10px;
        text-align: center;
    }

    #habilidades h2,
    #habilidades p {
        text-align: justify;
        text-indent: 2px;
    }
}

@media (max-height: 900px) and (min-height: 569px) {
    header h1 {
        top: 63vh;
    }

    header h2 {
        top: 63vh;
    }

    header p {
        top: 72vh;
    }

    #tonight {
        top: 72vh;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    header h1 {
        top: 63vh;
    }

    header h2 {
        top: 63vh;
    }

    header p {
        top: 72vh;
    }

    #tonight {
        top: 72vh;
    }
}





