@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: url(talon-league-of-legends-4k-ki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
}

/* NAV */

nav.menu-lateral {
    width: 50px;
    height: 100%;
    background-color: #202020;
    padding: 0px 10px;
    box-shadow: 3px 0 0 #097cc3;
    overflow: hidden;
    transition: .5s;
}

nav#nav.menu-lateral.active  {
    height: 100vh;
    width: 20%;
    transition: .5s ease-in;
}

nav#nav.menu-lateral.active #btn-mobile {
    margin-left: 14px;
    transition: .5s ease-in;
  }

#nav.menu-lateral #btn-mobile {
    transition: .5s ease-out;
  }


  nav#nav.menu-lateral.active .txt-link {
    margin-left: 33px;
    opacity: 1;
    
}

nav.menu-lateral .icon:focus {
    outline: none;
    border: 2px solid #F9F9F9;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

nav.menu-lateral ul li.item-menu a:focus {
    outline: none;
    border-left: 2px solid #F9F9F9;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

nav#nav.menu-lateral.active ul li.item-menu:hover {
    background-color: #097cc3;
}

nav.menu-lateral ul li.item-menu a {
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-out;
}

nav.menu-lateral.active ul li.item-menu a {
    visibility: visible;
    opacity: 1;
    transition: .5s ease-in;
}

nav.menu-lateral.active ul li.ativo {
    background-color: #097cc3;
}


/* BOTÃO EXPANDIR */

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 13px;
    position: relative;
    margin-right: 30px;
    top: 0px;
    right: 10px;
}

.btn-expandir > i {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

/* UL - LI */

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: ease .2s;
    background-color: none;
}

ul li.ativo {
    background-color: none;
}

ul li.item-menu a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 23px;
    padding: 20px 4%;
    margin-bottom: 23px;
    line-height: 50px;
}

ul li.item-menu a .txt-link {
    margin-left: 55px;
    transition: .5s;
    opacity: 0;
}






