@charset "UTF-8";

@font-face {
    font-family: 'cuphead', "cursive";
    src: url(../ex026/AlegreyaSansSC-Regular.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: url(talon-league-of-legends-4k-ki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
}

nav.menu-lateral {
    width: 50px;
    height: 100%;
    background-color: #202020;
    padding: 0px 10px;
    box-shadow: 3px 0 0 #097cc3;
    overflow: hidden;
    transition: .5s;
    position: fixed;
    top: 0;
    left: 0;
}

nav#nav.menu-lateral.active  {
    height: 100vh;
    width: 20%;
    position: fixed;
    transition: .5s ease-in;
}

nav#nav.menu-lateral.active #btn-mobile {
    margin-left: 14px;
    transition: .5s ease-in;
  }

  nav#nav.menu-lateral #btn-mobile {
    transition: .5s ease-out;
  }

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 13px;
    position: relative;
    margin-right: 30px;
    top: 0px;
    right: 10px;
}

.btn-expandir > i {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: ease .2s;
    background-color: none;
}

ul li.ativo {
    background-color: #097cc3;
}


nav#nav.menu-lateral.active ul li.item-menu:hover {
    background-color: #097cc3;
}

ul li.item-menu a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 23px;
    padding: 20px 4%;
    margin-bottom: 23px;
    line-height: 50px;
}

ul li.item-menu a .txt-link {
    margin-left: 55px;
    transition: .5s;
    opacity: 0;
}

nav#nav.menu-lateral.active .txt-link {
    margin-left: 33px;
    opacity: 1;
    
}





